version: "3"

services:
        flaskweb:
                build: .
                ports:
                        - "5000:5000"
                environment:
                        ENV: DEV
                volumes:
                        - ./app:/app
                links:
                        - dnmonster
                networks:
                        flaskweb_net:
                                ipv4_address: 172.102.0.2


        dnmonster:
                image: amouat/dnmonster:1.0
                networks:
                        flaskweb_net:
                                ipv4_address: 172.102.0.3

networks:
        flaskweb_net:
                driver: bridge
                ipam:
                        driver: default
                        config:
                                - subnet: 172.102.0.0/16




